.project-content-container{
    min-height: 100vh;
    background: rgb(254,254,255);
    background: radial-gradient(circle, rgba(254,254,255,1) 0%, rgba(207,205,205,1) 0%, rgba(251,251,255,1) 100%);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-items: center;
}

@media (max-width: 650px) {
    .project-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) and (min-width: 650px) {
    .project-container{
        grid-template-columns: repeat(2, 1fr);
    }
}