.skills-content-container{
    min-height: 100vh;
    /* background: rgb(42,42,42); */
    background: radial-gradient(circle, rgba(42,42,42,1) 0%, rgba(191,183,177,0.9542410714285714) 0%, rgba(0,0,0,0.8954175420168067) 19%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-container{
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.skills-container img{
    height: 60px;
    aspect-ratio: 1;
}

.skills-container img:hover{
    box-shadow: 0 0.8em 0.2em -0.2em rgb(78, 76, 76);
    transform: translateY(-10%);
}


