.skills-content-container{
    min-height: 100vh;
    background: rgb(42,42,42);
    background: radial-gradient(circle at 711px 516px, rgba(42,42,42,1) 0%, rgba(212,108,26,0.9816920518207283) 0%, rgba(0,0,0,1) 8%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-container{
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.skills-container img{
    height: 60px;
    aspect-ratio: 1;
}


