*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100vw;
  height: 100vh;
  background-color: black;
  scroll-behavior: smooth;
}

body, #root, .App{
  width: 100%;
  background-color: black;
}

body{
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
